name: Deploy Backend
on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**' # Only run if backend code changes

permissions:
  id-token: write   # Required for OIDC
  contents: read    # Required for checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::631764257626:role/AbhijeetBlogStack-GitHubActionsRole4F1BBA26-V4YfJg0uE8sj
          aws-region: ap-south-1

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Frontend
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.API_URL }}
        run: |
          cd frontend
          npm ci
          npm run build

      - name: Install CDK dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: CDK Deploy
        run: |
          cd backend
          npm install -g aws-cdk
          cdk deploy --require-approval never